#!/usr/bin/env bash

if command -v nvidia-smi >/dev/null 2>&1 &&
	nvidia-smi --query-gpu=name --format=csv,noheader |
	grep -q "GTX 1050"; then
	echo "CUDA GPU detected: NVIDIA GTX 1050"
	use nix --arg enableCuda true
else
	echo "No NVIDIA GTX 1050 detected, CUDA disabled"
	use nix --arg enableCuda false
fi
